attrs
certifi
charset-normalizer
click
idna
iniconfig
instagrapi
joblib
networkx
nltk
numpy
packaging
pandas
Pillow
pluggy
py
pycryptodome
pydantic
pyparsing
PySocks
pytest
python-dateutil
pytz
PyYAML
regex
requests
six
tomli
tqdm
typing_extensions
urllib3
