-e git://github.com/simoncrowe/bot-scheduler.git#egg=bot-scheduler
-e git://github.com/realsirjoe/instagram-scraper.git#egg=igramscraper

beautifulsoup4==4.9.0
click==7.0
factory-boy==2.12.0
time-machine==2.1.0
matplotlib==3.1.1
marshmallow==3.3.0
mock==4.0.2
networkx==2.6.3
nltk>=3.6.4
pandas==1.3.4
Pillow==9.0.1
pytest==6.0.1
PyYAML==5.4
requests==2.23.0
scikit-learn==0.23.1
